{% extends 'base.html.twig' %}

{% block title %}Politique d'Accessibilité - Cassandre Système{% endblock %}

{% block body %}
    <h1>Politique d'Accessibilité</h1>
    <p>Bienvenue sur la page de la politique d'accessibilité de Cassandre Système. 
    Nous nous engageons à rendre notre site web accessible à tous les utilisateurs, y compris ceux ayant des handicaps.</p>
    <h2>Accessibilité du site</h2>
    <p>Nous nous engageons à respecter les normes d'accessibilité numérique définies par les recommandations WCAG 2.1 (Web Content Accessibility Guidelines).</p>
    <h2>Amélioration continue</h2>
    <p>Nous faisons tout notre possible pour améliorer l'accessibilité de notre site web. Si vous rencontrez un problème d'accessibilité, veuillez nous contacter via le formulaire de contact disponible sur le site.</p>   
{% endblock %}