{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation - Cassandre Système{% endblock %}

{% block body %}
    <h1>Conditions Générales d'Utilisation</h1>
    <p>Bienvenue sur la page des conditions générales d'utilisation de Cassandre Système. 
    Veuillez lire attentivement les présentes conditions avant d'utiliser notre site web.</p>
    <h2>Acceptation des conditions</h2>
    <p>En accédant et en utilisant ce site, vous acceptez de vousr conformer aux présentes conditions générales d'utilisation.</p>
    <h2>Utilisation du  site</h2>
    <p>Vous vous engagez à utiliser ce site conformément aux lois et réglementations en vigueur, ainsi qu'aux présentes conditions générales d'utilisation.</p>
    <h2>Propriété intellectuelle</h2>
    <p>Tout le contenu présent sur ce site, inclu   ant, de façon non limitative, les textes, images, graphismes, logos, icônes, sons, logiciels,              
    est la propriété de Cassandre Système ou de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété
    intellectuelle.</p>
    <h2>Responsabilité</h2>
    <p>Cassandre Système ne saurait être tenue responsable des dommages directs ou indirect         
    résultant de l'accès ou de l'utilisation de ce site.</p>    
{% endblock %}