{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - Cassandre Système{% endblock %}

{% block body %}
    <h1>Conditions Générales de Vente</h1>
    <p>Bienvenue sur la page des conditions générales de vente de Cassandre Système. 
    Veuillez lire attentivement les présentes conditions avant d'effectuer un achat sur notre site web.</p>
    <h2>Informations légales</h2>
    <p>Les présentes conditions générales de vente s'appliquent à tous les achats effectués sur le site web de Cassandre Système.</p>
    <h2>Produits et services</h2>
    <p>Nos produits et services sont fournis conformément aux spécifications indiquées sur le site. Nous nous engageons à fournir des produits et services conformes à nos engagements contractuels.</p>
    <h2>Prix et paiement</h2>
    <p>Les prix indiqués sur le site sont en euros et incluent la TVA. Les paiements sont effectués via les méthodes proposées sur le site.</p>
    <h2>Livraison</h2>
    <p>Les livraisons sont effectuées selon les modalités indiquées lors du processus de commande. Le délai de livraison peut varier selon la destination et la disponibilité du produit.</p>
    <h2>Droits de rétractation</h2>
    <p>Conformément à la réglementation en vigueur, vous disposez d’un droit de rétractation pendant un délai de 14 jours à compter de la réception du produit.</p>
{% endblock %}