{% extends 'base.html.twig' %}

{% block title %}Politique de Cookies - Cassandre Système{% endblock %}

{% block body %}
    <h1>Politique de Cookies</h1>
    <p>Bienvenue sur la page de la politique de cookies de Cassandre Système. 
    Nous utilisons des cookies pour améliorer votre expérience sur notre site web.</p>
    <h2>Qu'est-ce qu'un cookie?</h2>
    <p>Un cookie est un petit fichier texte stocké sur votre appareil par le navigateur web lorsque vous visitez un site. 
    Les cookies permettent au site de se souvenir de vos actions et préférences (comme les informations de connexion, la langue, la taille de la police et d'autres préférences d'affichage) 
    pendant une période donnée, afin que vous n'ayez pas à les ressaisir chaque fois que vous revenez sur le site ou naviguez d'une page à une autre.</p>
    <h2>Types de cookies utilisés</h2>
    <ul>
        <li><strong>Cookies essentiels:</strong> Ces cookies sont nécessaires pour le fonctionnement du site et ne peuvent pas être désactivés dans nos systèmes.</li>
        <li><strong>Cookies de performance:</strong> Ces cookies collectent des informations sur la façon dont les visiteurs utilisent notre site, 
        par exemple les pages les plus visitées et les messages d'erreur éventuels. Ces cookies ne collectent pas d'informations permettant d'identifier un visiteur.</li>
        <li><strong>Cookies de fonctionnalité:</strong> Ces cookies permettent au site de se souvenir des choix que vous faites (comme votre nom d'utilisateur, votre langue ou la région dans laquelle vous vous trouvez) 
        et fournissent des fonctionnalités améliorées et plus personnalisées.</li>
    </ul>
    <h2>Gestion des cookies</h2>
    <p>Vous pouvez configurer votre navigateur pour refuser tous les cookies ou pour indiquer quand un cookie est envoyé. Cependant, si vous désactivez les cookies, certaines parties de notre site peuvent ne pas fonctionner correctement.</p>
{% endblock %}