{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité - Cassandre Système{% endblock %}

{% block body %}
    <h1>Politique de Confidentialité</h1>
    <p>Bienvenue sur la page de la politique de confidentialité de Cassandre Système. 
    Nous nous engageons à protéger vos données personnelles et à respecter votre vie privée.</p>
    <h2>Propriété intellectuelle</h2>
    <p>Tout le contenu présent sur ce site, incluant, de façon non limitative, les textes, images, graphismes, logos, icônes, sons, logiciels,              
    est la propriété de Cassandre Système ou de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété
    intellectuelle.</p>
    <h2>Responsabilité</h2>
    <p>Cassandre Système ne saurait être tenue responsable des dommages directs ou indirect         
    résultant de l'accès ou de l'utilisation de ce site.</p>
{% endblock %}