<header class="navbar">
    <div class="logo">Cassandre System</div>

    <nav class="menu">
        <a href="{{ path('app_accueil') }}" class="lien">Accueil</a>
        <a href="{{ path('app_client_index') }}" class="lien">Clients</a>
    </nav>
</header>