{% extends 'base.html.twig' %}

{% block title %}Cassandre Corporation{% endblock %}

{% block body %}


<div >
    <h1>Cassandre Corporation</h1>
    <p id="acceuil">Bienvenue sur le site officiel de Cassandre Corporation.</p>
</div>
{% endblock %}
