* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: Crimson Text, Arial, sans-serif;
}

body {
    background-color: #c9c6c6;
    color: #112c01;
}

h1 {
    text-align: center;
}

#acceuil {
    text-align: center;
}

header, footer {
    background-color: #6e0404;
    color: #e1e130;
    padding: 10px 0;
    text-align: center;
}

header a, footer a {
    color: #e1e130;
    text-decoration: none;
    
}

header a:focus, footer a:focus {
    color: #112c01;
    text-decoration: underline;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6e0404;
    
}

