{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <h1>Accès refusé</h1>
    <p>Désolé, vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    <a href="{{ path('app_accueil') }}">Retour à l'accueil</a>
{% endblock %}